spring:
  datasource:
    url: jdbc:mariadb://mariadb:3306/customers
    username: maxime
    password: maxime
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: update
